body {
    font-family: Arial;
    background: #0b0f19;
    color: white;
    text-align: center;
}

button {
    background: #00f2fe;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

input {
    padding: 10px;
    margin: 10px;
}